body {
  height: 100%;
  background-color: #121212;
}

.navigationContainer {
  display: inline-block;
  width: 100%;
}

.navigationElement {
  color: #FFFFFF;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: -7%;
  display: inline-block;
}